* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#logo {
  width:100%;

}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: max(25%, 200px) 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: "aside header " "aside main ";

  main {
    grid-area: main;
    padding: 20px;
  }

  header {
    grid-area: header;
    padding: 10px 20px;
    border-bottom:  solid 1px #ddd;
    color: #004;
    position: sticky;
    top: 0;
    background:#fff;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 3rem;
    }
  }

  aside {
    grid-area: aside;
    background: #eee;

    nav {
      position: sticky;
      top: 0;

    }

    nav ul {
      padding: 0 10px;
      margin: 0;
      list-style: none;

      li a {
        border: none;
        border-bottom: solid 1px #ddd;
        text-align: left;
        display: block;
        padding: 12px 10px;
        width: 100%;
        text-decoration: none;
        color: #004;

        &:hover {
          background-color: #eee;
        }
      }

      li button {
        padding: 12px 10px;
        width: 100%;
        border: none;
        background: #004;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }

}

table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
}